#java files
*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# backup file from gedit
*~

# Maven files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# generated maven site
mvnsites/

#old bin folders
bin/

#Eclipse artifacts
.project
.classpath
.settings/

#classical log/backup/tmp etc...
*.log
*.tmp
*.bak

